<h1><%= t(:team_members) %></h1>
<% @users.each do |a| %>
<div class="nick-index">
    <%= image_tag('http://static3.thesettlersonline.pl/sites/default/themes/siedler/images/landing/avatar/big/' + a.avatar.to_s + '.png', :class => 'image-index') %>
    <%= link_to a.nick, user_path(a) %>
</div>
<% end %>

<!-- For divisions
<h2><%= t(:symbol_admin) %></h2>
<% @users.select {|f| f["role"] == "admin" }.each do |a| %>
<div class="nick-index">
    <%= image_tag('http://static3.thesettlersonline.pl/sites/default/themes/siedler/images/landing/avatar/big/' + a.avatar.to_s + '.png', :class => 'image-index') %>
    <%= link_to a.nick, user_path(a) %>
</div>
<% end %>
<h2><%= t(:symbol_mod) %></h2>
<% @users.select {|f| f["role"] == "mod" }.each do |a| %>
<div class="nick-index">
    <%= image_tag('http://static3.thesettlersonline.pl/sites/default/themes/siedler/images/landing/avatar/big/' + a.avatar.to_s + '.png', :class => 'image-index') %>
    <%= link_to a.nick, user_path(a) %>
</div>
<% end %>
<br /><h2><%= t(:symbol_user) %></h2>
<% @users.select {|f| f["role"] == "user" }.each do |a| %>
<div class="nick-index">
    <%= image_tag('http://static3.thesettlersonline.pl/sites/default/themes/siedler/images/landing/avatar/big/' + a.avatar.to_s + '.png', :class => 'image-index') %>
    <%= link_to a.nick, user_path(a) %>
</div>
<% end %>
<h2><%= t(:symbol_test) %></h2>
<% @users.select {|f| f["role"] == "test" }.each do |a| %>
<div class="nick-index">
    <%= image_tag('http://static3.thesettlersonline.pl/sites/default/themes/siedler/images/landing/avatar/big/' + a.avatar.to_s + '.png', :class => 'image-index') %>
    <%= link_to a.nick, user_path(a) %>
</div>
<% end %>
-->