<h1><%= t(:add_new_member) %></h1>
<%= form_for(@user) do |f| %>
<%= render "layouts/form_errors", :object => @user %>
  <div>
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :value => @user.password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :value => @user.password_confirmation %>
  </div>
  <div>
    <%= f.label :role %><br />
    <%= f.select :role, User.getRole %>
  </div>
  <br />
  <div>
  	<%= f.label t(:math_captcha_label) %><br />
	<math style="font-family: 'Indie Flower';">
		<mrow> 
			<mfrac>
				<mi> <%= @numbers[0] %> </mi>
				<mi> <%= @numbers[1] %> </mi>
			</mfrac>
			<mo><%= @symbol %></mo>
			<mfrac>
				<mi> <%= @numbers[2] %> </mi>
				<mi> <%= @numbers[3] %> </mi>
			</mfrac>
	      	<mo>=</mo>
		</mrow>
	</math>
	<%= f.number_field :result, :step => 0.01 %>
  </div>
  <div>
    <%= f.submit t(:submit) %>
  </div>
<% end %>