<!-- <center>
<svg xmlns="http://www.w3.org/2000/svg" version="2.0" width="500" height="70">
<defs>
<linearGradient id="przejscieTonalne"
x1="0" y1="0" x2="1" y2="0">
<stop offset="0" stop-color="#000000"/>
<stop offset=".7" stop-color="#FFFF00"/>
<stop offset="1" stop-color="#000000"/>
</linearGradient>
</defs>
<text x="200" y="48"
fill="url(#przejscieTonalne)"
stroke="black"
font-weight="bold"
font-size="36"
text-decoration="underline">
<%= @user.nick %></text>
</svg>
</center>
<br /> -->

<%= image_tag('http://static3.thesettlersonline.pl/sites/default/themes/siedler/images/landing/avatar/big/' + @user.avatar.to_s + '.png', :id => 'show-avatar') %>
<canvas id="myCanvas" width="1000px", height="60px"></canvas>

    <script>
    function onloaded() {
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      context.font = "italic 36px 'Indie Flower'";
      context.textAlign = 'center';
      var textWidth = context.measureText ("<%= @user.nick %>");

      // create radial gradient
      var grd = context.createLinearGradient((canvas.width - textWidth.width)/2,0,(textWidth.width + (canvas.width - textWidth.width)/2)+25,0);
      // light blue
      grd.addColorStop(0, '#222200');
      // dark blue
      grd.addColorStop(.7, '#FFFF00');
      grd.addColorStop(.9, '#222200');

      context.fillStyle = grd;
      context.fillText("<%= @user.nick %>", canvas.width/2, 36);
      context.fill();
     }
    </script>

<br />
<% if userlogged && (userlogged.id == @user.id || userlogged.role == "admin") %>
       <%= link_to t(:edit), edit_user_path(@user) %><br />
<% end %>
<div class="user-title-data">
<h2><%= t(:data) %></h2>
</div>
<div class="user-title-data">
<h2><%= t('activerecord.attributes.user.about') %></h2>
</div>
<br />
<br />
<div class="user-data">
<p>
<%= t('activerecord.attributes.user.password') + ": #{@user.password}" %><br />
<%= t('activerecord.attributes.user.name') + ": #{@user.name}" %><br />
<%= t('activerecord.attributes.user.age') + ": #{@user.age}" %><br />
<%= t('activerecord.attributes.user.role') %>: <%= t('symbol_' + @user.role) %><br />
</p>
</div>
<div class="user-data">
<%= simple_format(@user.about) %>
</div>