<h2>Update profile:</h2>
<%= form_for(@user) do |f| %>
  <div>
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>