<h1><%= t(:edit_user) %></h1>
<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= t('activerecord.errors.template.header', :count => @user.errors.size) %></h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>Pole <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div>
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :value => @user.password %>
  </div>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <div>
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  <div>
    <%= f.submit t(:edit) %>
  </div>
<% end %>