<h1><%= t(:news) %></h1>
<%= will_paginate @news %><br />
<% if userlogged && userlogged.admin? %>
<%= link_to t(:news_add), new_news_path %>
<% end %>
<% @news.each do |u| %>
<div class="news">
<h2><%= u.title %></h2>
<h4><%= u.category %></h4>
<hr class="news">
<%= raw(u.content) %>
<% if userlogged && userlogged.admin_or_mod? %>
    <%= link_to t(:delete), u,:confirm => "Jesteś pewien?", :method => "delete" %> || 
    <%= link_to t(:edit), edit_news_path(u) %>
<% end %>
<h5>
<%= u.updated_at.strftime("%d-%m-%Y") %>
<% if u.user.present? %>
    <%= " - " + u.user.nick %>
<% end %>
</h5>
</div>
<% end %>
<br />