<h1><%= t(:apply) %></h1>
<div class="news">
<h4>Jeśli chcesz dołączyć do Ψ, wypełnij poniższy formularz lub skontaktuj się z nami w grze :)</h4>
</div>
<%= form_for @newguy, :url => join_index_path do |f| %>
<%= render "layouts/form_errors", :object => @newguy %>
  <div class="inline">
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </div>
  <div class="inline">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="inline">
    <%= f.label :age %><br />
    <%= f.number_field :age %>
  </div>
  <br />
  <div class="center">
    <%= f.label :about %><br />
    <%= f.text_area :about %>
  </div>
  <br />
  <div>
    <%= f.label t(:math_captcha_label) %><br />
    <% if browser.opera? || browser.firefox? %>
    <math style="font-family: 'Indie Flower';">
        <mrow> 
            <mfrac>
                <mi> <%= @numbers[0] %> </mi>
                <mi> <%= @numbers[1] %> </mi>
            </mfrac>
            <mo><%= @symbol %></mo>
            <mfrac>
                <mi> <%= @numbers[2] %> </mi>
                <mi> <%= @numbers[3] %> </mi>
            </mfrac>
            <mo>=</mo>
        </mrow>
    </math>
    <% else %>
    (<%= @numbers[0] %> / <%= @numbers[1] %>) <%= @symbol %> (<%= @numbers[2] %> / <%= @numbers[3] %>) = 
    <% end %>
    <%= f.text_field :result %>
  </div>
  <div>
    <%= f.submit t(:submit) %>
  </div>
<% end %>